@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(109, 153, 133);
}
aside{
    padding: 2rem;
    color: antiquewhite;
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.botones{
    background-color: transparent;
    border: 0;
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
}
.botones.active{
    background-color: grey;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}
.botones.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.botones.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}


main{
    background-color: aliceblue;
    margin: 1rem;
    margin-left: 0;
    padding: 2rem;
}

.contenedorProductos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles{
    background-color:rgb(134, 161, 149);
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.producto.agregar{
    border: 0;
    background-color: antiquewhite;
    padding: 0.2rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
}
/*carrito*/
.numerito{
    background-color: aliceblue;
    border-radius: 2rem;
}
.contenedorCarrito{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-vacio, .carrito-comprado{
    color: grey;
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled {
    display: none;
}